body {

  font-family: 'Merriweather', serif;
  margin: 0px;
  background-color: #FFFFFF
}

article {
  margin-left: 20%;
  width: 60%;
  font-family: 'Merriweather', serif;
}

img {
  width: 70%;
}

.chartimage{
  width: 200%;
  https://www.google.com/aclk?sa=l&ai=DChcSEwiRvf3-nZz3AhXGn7MKHUiVDBIYABAjGgJxbg&sig=AOD64_037XJVPlnTFImFxWC2XmJgp_uy4Q&adurl&ctype=5&ved=2ahUKEwiL-e3-nZz3AhXVr3IEHb40B5oQuxd6BQgBEJUD

}

h1 {
font-family: 'Merriweather', serif;
  font-size: 30px;
}

.story_image {
  width: 60%;
  padding-left:120px
}

footer {
padding-left:120px
margin-top: 20px;
font-family: 'Merriweather', serif;
}

a {
  color: blue;
}

a:hover {
  color: #717171;
  font-family: 'Merriweather', serif;
  text-decoration-color:#B00FB0
}
